---
import Hero from './Hero.astro';
import Industries from './Industries.astro';
import AboutUs from './AboutUs.astro';
import Contact from './Contact.astro';
import ToolSection from './ToolSection.astro';
---

<div class="min-h-screen flex flex-col">
  <!-- Hero Section -->
  <Hero />

  <!-- Industries Section -->
  <Industries />

  <!-- Tools Section -->
  <ToolSection />

  <!-- About Us Section -->
  <AboutUs />

  <Contact />
</div>
