---
import Hero from './Hero.astro';
import PoweringTools from './PoweringTools.astro';
import RemoteTorqueControl from './RemoteTorqueControl.astro';
import Industries from './Industries.astro';
import Downloads from './Downloads.astro';
import AboutUs from './AboutUs.astro';
import ToolSection from './ToolSection.astro';
import AccessoriesShowcase from './AccessoriesShowcase.astro';
import ReactionArms from './ReactionArms.astro';
---

<div class="min-h-screen flex flex-col">
  <Hero />
  <PoweringTools />
  <RemoteTorqueControl />
  <ToolSection />
  <AccessoriesShowcase />
  <ReactionArms />
  <Industries />
  <Downloads />
  <AboutUs />
</div>
