---
import Hero from './Hero.astro';
import PoweringTools from './PoweringTools.astro';
import RemoteTorqueControl from './RemoteTorqueControl.astro';
import Industries from './Industries.astro';
import AboutUs from './AboutUs.astro';
import Contact from './Contact.astro';
import ToolSection from './ToolSection.astro';
import Accessories from './Accessories.tsx';
---

<div class="min-h-screen flex flex-col">
  <Hero />
  <PoweringTools />
  <RemoteTorqueControl />
  <ToolSection />
  <Accessories client:load />
  <Industries />
  <AboutUs />
  <Contact />
</div>
